body {
  width: 250px;
  height: 320px;
  border: 1px solid #e8e7e7;
  border-radius: 7%;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  width: 90%;
  height: 0.5px;
  border: 0;
  background-color: #e6e6e6;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_list::-webkit-scrollbar {
  display: none;
}

.content_list {
  width: 90%;
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.content_list li {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3%;
}

.content_list li img {
  width: 10%;
}

.content_list li input {
  width: 60%;
  border: 1px solid #afaeae;
}

.plus_button {
  width: 7%;
  height: 7%;
}

.delete_all_button {
  border: 0;
  background-color: #fff;
  color: #df5252;
  font-weight: 500;
  margin-bottom: 3%;
}
